.counter {
    border: solid 1px #c5c5c5;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  
  button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: none;
    padding: 10px;
    background-color: #c94b9f;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 20px;
  }

  button:hover {
    background-color: #9f3b7a;
  }

.inactive {
    opacity: 0.5;
    pointer-events: none;
  }